<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/addpost.css" />
  </head>
  <body>
    <header class="header">
      <h1 class="logo"><a href="#">TITLE/LOGO OF PROJECT</a></h1>
      <ul class="main-nav">
        <li> <form action="/" method="get"><button type="submit" value="Home">Home</button></form></li>
        <li><a href="#">Add a post</a></li>
      </ul>
    </header>
    <div class="flexContainer">
            <h1>Add an entry</h1>
            <form action="/addpost" method="post">
              <div class="entryContainer">
                    <input
                    type="text"
                    name="title"
                    id="title"
                    placeholder="Add a title"/><br>
                  <input
                  type="text"
                  name="user"
                  id=user
                  placeholder="Add username"/><br>

                <textarea
                name="newEntry"
                id="newentry"
                placeholder="Add new entry"></textarea>
                  
                <br />
                <input
                  type="submit"
                  name="addBtn"
                  id="addBtn"
                  value="Submit"
                /><br />
              </div>
              </form>


  </body>
  <footer>

  </footer>
</html>
