<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Homepage | The Best Anonymous Journaling Website</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <header class="header">
      <h1 class="logo"><a href="#">TITLE/LOGO OF PROJECT</a></h1>
      <ul class="main-nav">
        <li><a href="#">Home</a></li>
        <li><form action="/postPage" method="get"><button type="submit">Add a post</button></form></li>
      </ul>
    </header>
    <div name="sectionOne">
      <h1>Anonymous journal writing and sharing made easy.</h1>
    </div>
    <div class="flexContainer">
      <!-- Presents all blog entries -->
      <% for (let entry of entries) { %>
        <div name="entry">
            <%= JSON.stringify(entry.title).replace(/['"]+/g,'') %> <br>
            <%= JSON.stringify(entry.user).replace(/['"]+/g,'') %> <br>
            <%= JSON.stringify(entry.newEntry).replace(/['"]+/g,'') %>
          </div>
      <% } %>
    </div>
    <footer></footer>
  </body>
</html>
