* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexContainer > div {
  background-color: grey;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: #34495e;
}

.logo {
  margin: 0;
  font-size: 14px;
  display: flex;
}

.main-nav {
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
}

.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #34495e;
  font-size: 0.99em;
}

.main-nav a:hover {
  color: #718daa;
}

h1 {
  font-size: 60px;
}

.flexContainer {
  display: flex;
  flex-direction: column;
}

textarea {
  border-radius: 12px;
  width: 350px;
  height: 250px;
  border: gray 1px solid;
  box-shadow: 0 0 5px #999999;
  padding: 15px 20px;
}

input[type="button"],
input[type="submit"] {
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  background: #ffe4a1;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

input[type="button"]:hover,
input[type="submit"]:hover {
  color: white;
  background: #4782ff;
}
.flexContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}
